@page "/courses/details/{Id}"
@using WebApp.Buisness.Models
@inject HttpClient Http
@inject NavigationManager Navigation
@attribute [Authorize]



@if (course != null)
{
    <section id="single-course">
        @if (course != null)
        {
            <div class="singlecourse-header">
                <div class="header-background-image">
                    <img src="~/images/courses/@course.bigImage" />
                    <div class="header-background-image-cover"></div>
                </div>
                <div class="container">
                    <div class="course-header">
                        <div class="navigation">
                            <a asp-controller="Default" asp-action="Home">Home</a>
                            <span>>></span>
                            <a asp-controller="Courses" asp-action="Index">Courses</a>
                            <span>>></span>
                            <a>@course.title</a>
                        </div>
                        <div class="course-header-information">
                            @if (course.isBestSeller)
                            {
                                <span class="bestseller">Best Seller</span>
                            }
                            <h2 class="course-header-title">@course.title</h2>
                            <p class="course-header-description">Egestas feugiat lorem eu neque suspendisse ullamcorper scelerisque aliquam mauris.</p>
                            <div class="course-header-info">
                                <div class="reviews">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i id="last-star" class="fa-regular fa-star"></i>
                                    <span> (@course.likesInNumbers reviews)</span>
                                </div>
                                <div class="likes">
                                    <i class="fa-regular fa-thumbs-up"></i>
                                    <span> 5K likes</span>
                                </div>
                                <div class="hours">
                                    <i class="fa-regular fa-clock"></i>
                                    <span>@course.hours hours</span>
                                </div>
                            </div>
                            <div class="header-author-info">
                                <div class="img-container">
                                    <img src="~/images/other/author-image.svg" />
                                </div>
                                <div class="text-container">
                                    <span>Created By</span>
                                    <span>@course.author</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="course-information">
                    <div class="course-text-description">
                        <div class="course-description">
                            <h2>Course Description</h2>
                            <p>Suspendisse natoque sagittis, consequat turpis. Sed tristique tellus morbi magna. At vel senectus accumsan, arcu mattis id tempor. Tellus sagittis, euismod porttitor sed tortor est id. Feugiat velit velit, tortor ut. Ut libero cursus nibh lorem urna amet tristique leo. Viverra lorem arcu nam nunc at ipsum quam. A proin id sagittis dignissim mauris condimentum ornare. Tempus mauris sed dictum ultrices.</p>
                        </div>
                        <div class="what-youll-learn">
                            <h3>What you'll learn</h3>
                            <div>
                                <p><i class="fa-regular fa-circle-check"></i>Powerful project management</p>
                                <p><i class="fa-regular fa-circle-check"></i>Transparent work management</p>
                                <p><i class="fa-regular fa-circle-check"></i>Manage work & focus on the most important tasks</p>
                                <p><i class="fa-regular fa-circle-check"></i>Track your progress with interactive charts</p>
                                <p><i class="fa-regular fa-circle-check"></i>Easiest way to track time spent on tasks</p>
                            </div>
                        </div>
                    </div>
                    <div class="course-join">
                        <h4>This course includes</h4>
                        <p><i class="fa-solid fa-tv"></i> @course.hours hours on-demand video</p>
                        <p><i class="fa-solid fa-file"></i> 18 articles</p>
                        <p><i class="fa-solid fa-download"></i> 25 downloadable resources</p>
                        <p><i class="fa-solid fa-infinity"></i> Full lifetime access</p>
                        <p><i class="fa-solid fa-trophy"></i> Certificate of completion</p>
                        @if (!string.IsNullOrEmpty(course.discountPrice))
                        {
                            <div class="prices">
                                <span class="price">@course.discountPrice</span>
                                <span class="striked-price">@course.price</span>
                            </div>
                        }
                        else
                        {
                            <span class="price">@course.price</span>
                        }
                        <form method="post" asp-controller="Account" asp-action="JoinCourse">
                            <button class="btn-theme" type="submit">Join course</button>
                        </form>
                        <form method="post" asp-controller="Account" asp-action="UnregisterFromCourse">
                            <button class="btn-theme" type="submit">Unregister from course</button>
                        </form>
                    </div>
                </div>
                <div class="program-details">
                    <h2>Program Details</h2>
                </div>
                <div class="about-author">
                    <img id="author-img" src="~/images/other/author-image.svg" />
                    <div class="author-information-box">
                        <div class="author-information">
                            <span>Learn from the best</span>
                            <h2>@course.author</h2>
                            <p>Dolor ipsum amet cursus quisque porta adipiscing. Lorem convallis malesuada sed maecenas. Ac dui at vitae mauris cursus in nullam porta sem. Quis pellentesque elementum ac bibendum. Nunc aliquam in tortor facilisis. Vulputate eget risus, metus phasellus. Pellentesque faucibus amet, eleifend diam quam condimentum convallis ultricies placerat. Duis habitasse placerat amet, odio pellentesque rhoncus, feugiat at. Eget pellentesque tristique felis magna fringilla.</p>
                            <div class="socials">
                                <a><i class="fa-brands fa-youtube"></i> 240k subscribers</a>
                                <a><i class="fa-brands fa-square-facebook"></i> 180k followers</a>
                            </div>
                        </div>
                    </div>
                    <img id="author-pattern" src="~/images/other/author-pattern.svg" />
                </div>
            </div>
        }
        else
        {
            <p>Loading...</p>
        }
    </section>
}
else
{
    <p>Loading...</p>
}



@code {
    [Parameter]
    public string Id { get; set; }

    private CourseCardModel course;

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetAsync($"http://localhost:7131/api/courses/{Id}");

        if (response.IsSuccessStatusCode)
        {
            course = await response.Content.ReadFromJsonAsync<CourseCardModel>();
        }
        else
        {
            // Handle error scenario
        }
    }
}
